* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
}

.App {
  margin: 0 auto;
  padding: 40px 80px;
  max-width: calc((170px * 6) + 80px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

section {
  max-width: 100vw;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  height: 200px;
  width: 100%;
  border-bottom: 1px solid rgb(114, 114, 114);
  margin-bottom: 40px;
  display: flex;
  text-align: center;
  overflow: hidden;
}

.card__img {
  height: 200px;
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
}

.card__img img {
  height: 100%;
  width: 100%;
}

.card__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

h4 {
  font-size: 14px;
}

span {
  color: rgb(114, 114, 114);
}

input {
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffdb4d;
  transition: all 0.3s ease-out;
}

input:focus {
  transform: scale(1.1);
}

.filter{
  margin-bottom: 10px;
  position: relative;
  display: inline-grid;
  grid-template-columns: 230px 150px;
  place-items: grid-start;
}

label{
  margin-right: 10px;
}

select{
  cursor: pointer;
  padding: 2.5px 0px 2.5px 10px;
  border: 1px solid rgb(114, 114, 114);
  outline: none;
}

.custom-arrow{
  position: absolute;
  height: 100%;
  width: 23px;
  display: block;
  top: 0;
  right: 0;
  background-color: #ffdb4d;
  pointer-events: none;
  border-bottom: 1px solid rgb(114, 114, 114);
  border-top: 1px solid rgb(114, 114, 114);
  border-right: 1px solid rgb(114, 114, 114);
}

.custom-arrow::after,
.custom-arrow::before{
  --size: 8px;

  content: '';
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before{
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.7);
}

.pagination {
  position: absolute;
  display: flex;
  list-style: none;
  left: 50%;
}

.pagination li {
  margin-right: 10px;
  cursor: pointer;
}

.pagination:last-child{
  margin-right: 0;
}

.spinner {
  margin: 0 50%;
}

.spinner__inner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner__inner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(114, 114, 114);
  border-color: rgb(114, 114, 114) transparent
    rgb(114, 114, 114) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
